body{
    width: 960px;
    margin: auto;
}


.three{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}


.oneImg{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 10px;
    align-items: center;

}
.oneImg p{
  text-align: left;

}

.container{
    display: grid;
    grid-template-rows: 100px 1fr 50px; 
}

header
{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;

}

header nav{
    text-align: right;
    text-decoration: none;

}
.oneImg h1{
    text-align: left;
}

